<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>成都消防执勤车辆定位系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="~/dist/js/html5shiv.min.js"></script>
    <script src="~/dist/js/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="~/dist/css/GoogleFonts.css">
    <!--Vue开发版本-->
    <script src="~/dist/js/vue.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box" id="app">
        <div class="login-logo">
            @*<a href="#"><b> 123</b></a>*@
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @*<p class="login-box-msg">Sign in to start your session</p>*@
            <form id="loginForm" class="form-signin" action="@Url.Action("Login")" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
                    <span class="fa fa-male form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" placeholder="密码">
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <div class="verify-wrap" id="verify-wrap"></div>
                    <input type="hidden" name="verify" id="verify"/>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        @*<div class="checkbox icheck">
                            <label>
                                <input type="checkbox">记住我
                            </label>
                        </div>*@
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" id="btn_submit" class="btn btn-primary btn-block btn-flat">登陆</button>
                    </div>
                    <!-- /.col -->
                </div>
                <input type="hidden" name="returnurl" value="@ViewBag.ReturnUrl" />
                <input type="hidden" id="rememberMe" name="rememberMe" />
            </form>
            <!-- /.social-auth-links -->
            @*<a href="#">I forgot my password</a><br>
                <a href="register.html" class="text-center">Register a new membership</a>*@
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <!--Bootstrap-validator-->
    <link rel="stylesheet" href="~/plugins/bootstrap-Validator/bootstrapValidator.css" />
    <script type="text/javascript" src="~/plugins/bootstrap-Validator/bootstrapValidator.js"></script>
    <!--滑动验证-->
    <script src="~/dist/js/jq-slideVerify.js"></script>
    <script>
        $(function () {
            var SlideVerifyPlug = window.slideVerifyPlug;
            var slideVerify = new SlideVerifyPlug('#verify-wrap', {
                wrapWidth: '320',//设置 容器的宽度 ,不设置的话，会设置成100%，需要自己在外层包层div,设置宽度，这是为了适应方便点；
                initText: '请拖动滑块',  //设置  初始的 显示文字
                sucessText: '验证通过',//设置 验证通过 显示的文字
                getSuccessState: function (res) {
                    //当验证完成的时候 会 返回 res 值 true，
                    if (res) {
                        $("input[name='verify']").val("123").change(); 
                        //$('#btn_submit').prop('disabled', false); //启
                    } else {
                        $('#verify').val(null); 
                    }
                }
            });
            //Icheck插件
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
            $('input').on('ifChecked', function (event) {
                $("#rememberMe").val(this.checked);
            });
            //表单验证
            $('#loginForm').bootstrapValidator({
                excluded:[":disabled"],
                message: 'This value is not valid',
                //feedbackIcons: {
                //    valid: 'glyphicon glyphicon-ok',
                //    invalid: 'glyphicon glyphicon-remove',
                //    validating: 'glyphicon glyphicon-refresh'
                //},
                fields: {
                    username: {
                        message: '用户名无效',
                        validators: {
                            notEmpty: {
                                message: '用户名不能位空'
                            },
                            stringLength: {
                                min: 3,
                                max: 30,
                                message: '用户名必须大于3，小于30个字'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: '密码不能位空'
                            },
                            stringLength: {
                                min: 5,
                                max: 30,
                                message: '密码必须大于6，小于30个字'
                            },
                            different: {
                                field: 'username',
                                message: '用户名和密码不能相同'
                            }
                        }
                    },
                    verify: {
                        trigger:"change",
                        validators: {
                            notEmpty: {
                                message: '请进行滑动验证'
                            }
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
