
@{
    ViewData["Title"] = ViewData["Title"] ?? "历史回放";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Version"] = "20200522";
}
@section style{
    <!--vue-treeselect-->
    <link rel="stylesheet" href="~/lib/vue-treeselect/dist/vue-treeselect.min.css">
}
@section script{
    <!--引入本地地图工具 -->
    <script src="~/plugins/AMap/js/mapTools.js"></script>
    <!--引入高德地图JSAPI -->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=07daf7aebe56f6b49516fa87628a06e4"></script>
    <!--vue-treeselect-->
    <script src="~/lib/vue-treeselect/dist/vue-treeselect.umd.min.js"></script>
}
<div id="vmContent">
    <div class="row col-md-12">
        <div class="box" style="padding:5px;">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="control-label">车辆:</label>
                </div>
                <div class="form-group">
                    <treeselect :multiple="false"
                                :options="options"
                                :disable-branch-nodes="true"
                                placeholder="请选择设备"
                                v-model="search.deviceid" style="width:300px;" />
                </div>
                <div class="form-group">
                    <label class="control-label">回放时间:</label>
                </div>
                <div class="form-group">
                    <el-date-picker v-model="search.timeValue"
                                    type="datetimerange"
                                    range-separator="-"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                    </el-date-picker>
                </div>
                <div class="form-group">
                    <label class="control-label">最小速度:</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="search.minspeed" style="width:50px;">
                </div>
                <div class="form-group">
                    <label class="control-label">回放速度:</label>
                </div>
                <div class="form-group" style="width:140px;">
                    <el-slider style="margin-left:10px;" v-model="playSpeed" v-on:change="speedChange"
                               :min="1"
                               :max="4">
                    </el-slider>
                </div>
                <button type="button" v-on:click="startAnimation" class="btn btn-default">回放</button>
                <button type="button" v-on:click="pauseAnimation" class="btn btn-default">暂停</button>
                <button type="button" v-on:click="resumeAnimation" class="btn btn-default">继续</button>
                <button type="button" v-on:click="stopAnimation" class="btn btn-default">停止</button>
            </form>
            <div id="container" style="width:100%;height:478px; margin-top:5px;"></div>
        </div>
    </div>
    <div class="row col-md-12" style="margin-top:-15px;">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">定位信息</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding" style="overflow:auto; height:206px;">
                <table class="table table-hover">
                    <tr>
                        <th>序号</th>
                        <th>车牌号</th>
                        <th>识别码</th>
                        <th>SIM卡</th>
                        <th>定位时间</th>
                        <th>接收时间</th>
                        <th>速度</th>
                        <th>定位</th>
                        <th>方向</th>
                        <th>状态</th>
                        <th>定位模式</th>
                        <th>累计里程</th>
                        @*<th>位置</th>*@
                        <th>经度</th>
                        <th>纬度</th>
                    </tr>
                    <tr v-for="(newtrack,index) in newtrackstb">
                        <td>{{index+1}}</td>
                        <td>{{newtrack.license}}</td>
                        <td>{{newtrack.mac}}</td>
                        <td>{{newtrack.sim}}</td>
                        <td>{{newtrack.gnsstime}}</td>
                        <td>{{newtrack.receive_time}}</td>
                        <td>{{newtrack.speed}}</td>
                        <td>{{newtrack.locate_str}}</td>
                        <td>{{newtrack.heading_str}}</td>
                        <td>{{newtrack.status}}</td>
                        <td>{{newtrack.locatemode_str}}</td>
                        <td>{{newtrack.mileage}}</td>
                        @*<td>{{newtrack.position}}</td>*@
                        <td>{{newtrack.longitude}}</td>
                        <td>{{newtrack.latitude}}</td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.col -->
    </div>
</div>
<script src="~/Controllers/AMap/HistoryBackController.js?r=@Guid.NewGuid()"></script>