
@{
    ViewData["Title"] = "~欢迎您~";
    ViewData["Version"] = "20190927";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="border:aquamarine solid 1px; width:100%;height:100%">
   
</div>

