
@{
    ViewData["Title"] = "警员打卡位置查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Version"] = "20200403";
}
@section style{
    <!--map-->
    @foreach (var item in ViewBag.MapCss as List<string>)
    {
    <link rel="stylesheet" type="text/css" href="@item">
    }
    <!--Popup-->
    <link rel="stylesheet" type="text/css" href="~/plugins/ezMap/css/popup.css" />
}
@section script{
    <!--map-->
    @foreach (var item in ViewBag.MapJs as List<string>)
    {
    <script src="@item"></script>
    }
}
<div id="vmLbsAlarm">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label>时间:</label>
                    <div class="input-group">
                        <el-date-picker v-model="search.timeValue"
                                        type="datetimerange"
                                        range-separator="-"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期">
                        </el-date-picker>
                    </div>
                    <div class="input-group"><el-input v-model="search.nameOrPoliceCode" placeholder="请输入警号或姓名"></el-input></div>
                    <button type="button" v-on:click="searchAction" class="btn btn-success">查询</button>
                    <button type="button" v-on:click="drawAction" class="btn btn-github">框选查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <!-- 提供地图容器，其中地图容器必须提供id号，用于生成地图 -->
            <div id="map" style="width:100%;height:666px;"></div>
        </div>
    </div>
</div>
<script src="~/Controllers/EzMap/PolcolPositionController.js?r=@Guid.NewGuid()"></script>