
@{
    ViewData["Title"] = "接口文档";
    ViewData["Version"] = "20200409";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ap">

</div>
<script>
    $(function () {
        $("#ap").load('/dist/html/AgreementPage.html');
    });
</script>


