
@{
    ViewData["Title"] = ViewData["Title"] ?? "车辆区域报警查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Version"] = "20200426";
}
<div class="box" id="vmBox">
    <div class="col-md-12 row" style=" margin:5px;">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label>时间:</label>
                <div class="input-group">
                    <el-date-picker v-model="timeValue"
                                    type="datetimerange"
                                    range-separator="-"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                    </el-date-picker>
                </div>
            </div>
            <div class="form-group">
                <label>车牌号:</label>
                <div class="input-group">
                    <input type="text" class="form-control" v-model="license" />
                </div>
                <button type="button" v-on:click="select" class="btn btn-success">查询</button>
            </div>
        </form>
    </div>
    <v-table is-vertical-resize
             :vertical-resize-offset='60'
             is-horizontal-resize
             style="width:100%"
             :multiple-sort="false"
             :min-height="350"
             even-bg-color="#f2f2f2"
             :title-rows="tableConfig.titleRows"
             :columns="tableConfig.columns"
             :table-data="tableConfig.tableData"
             row-hover-color="#eee"
             row-click-color="#edf7ff"
             :select-all="selectALL"
             :select-change="selectChange"
             v-on:sort-change="sortChange"
             :paging-index="(pageIndex-1)*pageSize"></v-table>
    <div style="margin-top:5px;">
        <v-pagination v-on:page-change="pageChange" v-on:page-size-change="pageSizeChange" :page-size-option="[15,20,30]" :total="total" :page-size="pageSize" :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']"></v-pagination>
    </div>
</div>
<script src="~/Controllers/EzMap/NewAlarmInfoController.js?r=@Guid.NewGuid()"></script>