
@{
    ViewData["Title"] = ViewData["Title"] ?? "车辆报备管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Version"] = "20200617";
}

@section style{
    <!--vue-treeselect-->
    <link rel="stylesheet" href="~/lib/vue-treeselect/dist/vue-treeselect.min.css">
}
@section script{
    <!--vue-treeselect-->
    <script src="~/lib/vue-treeselect/dist/vue-treeselect.umd.min.js"></script>
}
<div class="box" id="vmBox">
    <table style="margin-left:5px;">
        <tr>
            <th>单位:</th>
            <td>
                <div class="input-group">
                    <!-- /btn-group -->
                    <treeselect :multiple="false"
                                :options="unitOptions"
                                :disable-branch-nodes="true"
                                placeholder="请选择单位"
                                v-model="where.unitId" style="width:300px;" />
                </div>
            </td>
            <th>车牌号:</th>
            <td>
                <div class="input-group">
                    <!-- /btn-group -->
                    <treeselect :multiple="false"
                                :options="options"
                                :disable-branch-nodes="true"
                                placeholder="请选择设备"
                                v-model="where.carid" style="width:300px;" />
                </div>
            </td>
            <th>时间:</th>
            <td>
                <div class="input-group">
                    <!-- /btn-group -->
                    <el-date-picker v-model="where.timeValue"
                                    type="datetimerange"
                                    :picker-options="pickerOptions"
                                    range-separator="-"
                                    start-placeholder="开始时间"
                                    end-placeholder="结束时间">
                    </el-date-picker>
                </div>
            </td>
            <td>
                <button type="button" id="btn_delete_main" class="btn btn-primary" style="margin:10px;" v-on:click="select">查询</button>
                <button type="button" id="btn_delete_main" class="btn btn-default" style="margin:10px;" v-on:click="exportExcel">导出</button>
                <button type="button" id="btn_add_main" class="btn btn-success" style="margin:10px;" data-toggle="modal" v-on:click="add">新增</button>
                <button type="button" id="btn_delete_main" class="btn btn-warning" style="margin:10px;" v-on:click="deleteSelect">删除</button>
            </td>
        </tr>
    </table>
    <v-table is-vertical-resize
             :vertical-resize-offset='60'
             is-horizontal-resize
             style="width:100%"
             :multiple-sort="false"
             :min-height="350"
             even-bg-color="#f2f2f2"
             :title-rows="tableConfig.titleRows"
             :columns="tableConfig.columns"
             :table-data="tableConfig.tableData"
             row-hover-color="#eee"
             row-click-color="#edf7ff"
             :select-all="selectALL"
             :select-change="selectChange"
             v-on:sort-change="sortChange"
             :paging-index="(pageIndex-1)*pageSize"></v-table>
    <div style="margin-top:5px;">
        <v-pagination v-on:page-change="pageChange" v-on:page-size-change="pageSizeChange" :page-size-option="[15,20,30]" :total="total" :page-size="pageSize" :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']"></v-pagination>
    </div>
    <!--模态窗口-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">车辆报备管理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="myForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="license">报备车辆</label>
                            <div class="col-sm-4">
                                <treeselect :multiple="true"
                                            :options="options"
                                            :disable-branch-nodes="true"
                                            placeholder="请选择设备"
                                            v-model="row.carids" />
                            </div>
                            <label class="col-sm-2 control-label" for="approver">审批人</label>
                            <div class="col-sm-4">
                                <el-input v-model="row.approver" placeholder="审批人"></el-input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ip">出动时间</label>
                            <div class="col-sm-4">
                                <el-date-picker v-model="row.sendtime"
                                                type="datetime"
                                                placeholder="选择日期时间">
                                </el-date-picker>
                            </div>
                            <label class="col-sm-2 control-label" for="port">返回时间</label>
                            <div class="col-sm-4">
                                <el-date-picker v-model="row.backtime"
                                                type="datetime"
                                                placeholder="选择日期时间">
                                </el-date-picker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="int_type">任务内容</label>
                            <div class="col-sm-10">
                                <el-input type="textarea"
                                          :autosize="{ minRows: 4, maxRows: 4}"
                                          placeholder="请输入内容"
                                          v-model="row.content">
                                </el-input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="int_type">情况说明</label>
                            <div class="col-sm-10">
                                <el-input type="textarea"
                                          :autosize="{ minRows: 4, maxRows: 4}"
                                          placeholder="请输入内容"
                                          v-model="row.remark">
                                </el-input>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveData">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Controllers/DM/CarMsgReportController.js?r=@Guid.NewGuid()"></script>

